<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='/css/index.css')}}">
    <title>Especificaciones</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="/">Volver
        </a>
        <h1><a style="font-size: 50px;" class="navbar-brand" href="#">Especificaciones <br>Técnicas
        </a></h1>
        <a class="navbar-brand" href="#">
        </a>
        <a class="navbar-brand" href="#">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse mr-auto" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
    <div class="divisor1">
        <div class="cont1">
            <h1>Pantalla</h1>
            <div>
                Pantalla de 13.3 pulgadas (diagonal) retroiluminada por LED con tecnología IPS; resolución nativa de 2560 x 1600 a 227 pixeles por pulgada compatible con millones de colores

                Resoluciones ajustadas compatibles:

                1680 x 1050
                1440 x 900
                1024 x 640
                Brillo de 400 nits

                Amplia gama de colores (P3)

                Tecnología True Tone
            </div>
        </div>
        <div class="cont1">
            <h1>Bateria</h1>
            <div>
                Hasta 15 horas de navegación web inalámbrica
                Hasta 18 horas de reproducción de video en la app Apple TV
                Batería de polímero de litio integrada de 49.9 Wh
                Adaptador de corriente USB-C de 30 W
            </div>
        </div>
        <div class="cont1">
            <h1>Puertos</h1>
            <div>
                Carga
                DisplayPort
                Thunderbolt 3 (hasta 40 Gb/s)
                USB 4 (hasta 40 Gb/s)
                USB 3.1 de segunda generación (hasta 10 Gb/s)
            </div>
        </div>
        <div class="cont1">
            <h1>Memoria</h1>
            <div>
                8 GB
                Memoria unificada de 8 GB
                Configurable con:

                16 GB
            </div>
        </div>
    </div>
</body>
</html>