<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='/css/index.css')}}">
    <title>Reparaciones</title>
    <style>
        .cont1{
            height: 2020px;
            width: 400px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="/">Volver
        </a>
        <h1><a style="font-size: 50px;" class="navbar-brand" href="#">Reparaciones
        </a></h1>
        <a class="navbar-brand" href="#">
        </a>
        <a class="navbar-brand" href="#">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse mr-auto" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
          </ul>
        </div>
      </nav>
      <div class="divisor1">
        <div class="cont1">
            <h1>Remplazo Disco</h1>
            <div>
                <ul>
                    <li style="font-size: 20px;">
                        Apaga el ordenador por completo, incluida la toma a la corriente física.
                    </li>
                    <li style="font-size: 20px;">
                        Desatornilla la tapa trasera del Mac con el desatornillador correcto.
                    </li>
                    <li style="font-size: 20px;">
                        Desconecta el flexible que da alimentación al Mac para evitar cualquier cortocircuito, que está ubicado al lado de la propia batería.
                    </li>
                    <li style="font-size: 20px;">
                        Localiza el disco duro que normalmente estará en la esquina inferior izquierda.
                    </li>
                </ul>
            </div>
        </div>
        <div class="cont1">
            <h1>Remplazo Pantalla</h1>
            <div>
                <ul>
                    <li style="font-size: 20px;">
                        Retira los tornillos que sujetan la tapa inferior
                    </li>
                    <li style="font-size: 20px;">
                        Retira la tapa inferior
                    </li>
                    <li>
                        Desconecta la batería
                    </li style="font-size: 20px;">
                    <li>  
                        Desconecta los cables de la antena
                    </li>
                    <li style="font-size: 20px;">
                        Retira la tapa del cable de la antena
                
                    </li>
                    <li style="font-size: 20px;">
                        Desconecta el cable de la pantalla
                
                    </li>
                    <li style="font-size: 20px;">
                        Retira la tapa del conector del cable de la pantalla.
                
                    </li>
                    <li style="font-size: 20px;">
                        Retira los tornillos de la barra de antena
                
                    </li>
                    <li style="font-size: 20px;">
                        Remueve la barra de antena
                
                    </li>
                    <li style="font-size: 20px;">
                        Remueve los 4 tornillos de las bisagras
                
                    </li>
                    <li style="font-size: 20px;">
                        Abre la MacBook completamente
                    </li>
                    <li style="font-size: 20px;">
                        Remueve las dos bisagras restantes
                    </li>
                    <li style="font-size: 20px;">
                        Retira la pantalla
                    </li>
                </ul>
            </div>
        </div>
        <div class="cont1">
            <h1>Remplazo Teclado</h1>
            <div>
                <ul>
                    <li style="font-size: 20px;">
                        Establecer opciones de las teclas de función y del teclado, el brillo del teclado y las funciones rápidas de teclado.
                    </li>
                    <li style="font-size: 20px;">
                        Personalizar la Touch Bar y Control Strip (si tu Mac tiene Touch Bar).
                    </li>
                    <li style="font-size: 20px;">
                        Agrega fuentes de entrada que te permitan escribir en otros idiomas y cambiar opciones para fuentes de entrada específicas.
                    </li>
                    <li style="font-size: 20px;">
                        Cambiar opciones para reemplazar texto.
                    </li>
                    <li style="font-size: 20px;">
                        Activar Dictado y seleccionar un idioma, así como una función rápida de teclado para usarla cuando dictes.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>