<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='/css/index.css')}}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a class="navbar-brand" href="/">Volver
    </a>
    <div class="divisor1">
    
        <div class="cont1" id="izquierda">
            <h1>MacOS Ventura</h1>
            <div>
                macOS Ventura (versión 13) es la decimonovena versión principal de macOS, el sistema operativo de escritorio de Apple para ordenadores Macintosh. Es el sucesor de macOS Monterey y fue anunciado en la WWDC 2022 el 6 de junio de 2022.1​ Lleva el nombre de Ventura en California, siguiendo el sistema de nomenclatura que comenzó con OS X Mavericks.

                La primera versión para desarrolladores se lanzó el 6 de junio de 2022, mientras que se espera que la beta pública esté disponible en julio. La versión final se espera para finales de 2022.
                <img src="/static/img/ventura.jpeg" alt="">
            </div>
        </div>
        <div class="cont1" id="derecha">
            <h1>Aplicaciones predeterminadas</h1>
            <div>
                <img src="static/img/Captura de pantalla 2023-08-20 135346.png" alt="">
                <img src="/static/img/captura 2.png" alt="">
                <img src="/static/img/captura3.png" alt="">
            </div>
        </div>
       
    </div>
</body>
</html>